# build number
name: $(VERSION).$(rev:r)

pool:
  name: Default
  demands: npm

variables:
  VERSION: 1.2
  PACKAGE_DIR: 'services/tabler-world-import'

pr:
  branches:
    exclude:
      - '*'

trigger:
  branches:
    include:
    - develop
    - release/**

  paths:
    include:
      - packages/**/src/*
      - services/tabler-world-import/src/*
      - services/tabler-world-import/azure-pipelines.yml

steps:
# - template: ../devops/yarn.yml

- task: Npm@1
  displayName: 'npm version'
  inputs:
    command: custom
    workingDir: '$(PACKAGE_DIR)'
    verbose: false
    customCommand: 'version $(Build.BuildNumber)'

- template: ../devops/publish-defaults.yml

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(PACKAGE_DIR)'
    ArtifactName: source/services/tabler-world-import

