# build number
name: $(VERSION).$(rev:r)

pool:
  name: 'Azure Pipelines'
  demands: npm

variables:
  VERSION: 1.4
  PACKAGE_DIR: 'services/tabler-world-auth'

pr:
  branches:
    exclude:
      - '*'

trigger:
  branches:
    include:
      - release/v1.4

  paths:
    include:
      - packages/**/src/*
      - services/tabler-world-auth/src/*
      - services/tabler-world-auth/azure-pipelines.yml

steps:
# - template: ../devops/yarn.yml

- task: Npm@1
  inputs:
    command: custom
    workingDir: '$(PACKAGE_DIR)'
    verbose: false
    customCommand: 'version $(Build.BuildNumber)'

- template: ../devops/publish-defaults.yml

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(PACKAGE_DIR)'
    ArtifactName: source/services/tabler-world-auth
