# build number
name: $(VERSION).$(rev:r)

pool:
  name: 'Hosted Ubuntu 1604'
  demands: npm

variables:
  VERSION: 1.2
  PACKAGE_DIR: 'services/tabler-world-data-service'

pr:
  branches:
    exclude:
      - '*'

trigger:
  branches:
    include:
      - release/v1.1

  paths:
    include:
      - packages/**/src/*
      - services/tabler-world-data-service/src/*
      - services/tabler-world-data-service/azure-pipelines.yml

steps:
# - template: ../devops/yarn.yml

- task: Npm@1
  displayName: 'npm version'
  inputs:
    command: custom
    workingDir: '$(PACKAGE_DIR)'
    verbose: false
    customCommand: 'version $(Build.BuildNumber)'

- template: ../devops/publish-defaults.yml

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(PACKAGE_DIR)'
    ArtifactName: source/services/tabler-world-data-service

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'services/tabler-world-rds'
    ArtifactName: source/services/tabler-world-rds
